@charset "utf-8";

/* fonts import */
@import url();

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #000;}

/* wrapper */
.wrapper {background: #fff;}

/* widget_large */
.widget_large_wrapper {display: block; position: absolute; left: 0; top: 35%; z-index: 2; font-family: 'Helvetica', sans-serif;}
	.widget_large_wrapper a {text-decoration: none;}
	.widget_large_wrapper a:hover .hover {width: 10px;}
.hover {display: block; position: relative; float: left;}

.widget_large_wrapper .raiting_wrapper {display: block; position: relative; overflow: hidden; background-color: #ffde00;}
	.raiting {display: block; position: relative; float: right; width: 88px;}
	.raiting h5 {padding: 8px 16px 6px 17px; font-size: 26px; line-height: 34px; color: #3b3c3a;}

.raiting_desc_wrapper {display: block; position: relative; overflow: hidden; background-color: #3b3c3a;}
	.raiting_desc {display: block; position: relative; float: right; width: 88px;}
	.raiting_desc p {padding: 12px 6px 12px 7px; font-size: 11px; color: #ffffff; font-weight: lighter; text-align: center;}
	.line {display: block; position: relative; border-top: 1px solid #444444; margin: 0 12px 0 13px; width: 63px;}    
    .logo_wrapper {display: block; position: relative;}
    .logo_wrapper img {padding: 14px 16px 14px 17px;}

/* widget_full_wrapper */
.widget_full_wrapper {display: block; position: absolute; overflow: hidden; left: 0; top: 10%; background-color: #ffffff; width: 326px; font-family: 'Helvetica', sans-serif;}

.widget_full {display: block; position: relative; float: left; width: 284px; border: 1px solid #eaeaea;}
	.widget_header {display: block; position: relative;}
		.widget_header .raiting_wrapper {display: block; position: relative; overflow: hidden; margin-top: 19px;}
			.raiting_percent {display: block; position: relative; float: left; width: 87px; margin-left: 20px;}
			.raiting_percent h5 {padding: 16px 18px; font-size: 26px; line-height: 26px; color: #3b3c3a; background-color: #ffde00; border-radius: 5px;}
      .raiting_text {display: block; position: relative; float: right; width: 146px; margin-right: 20px;}
      .raiting_text p {font-size: 13px; line-height: 17px; color: #606060; font-weight: lighter; margin-top: 3px;}
      .raiting_text p strong {color: #37943e;}

    .raiting_based {display: block; position: relative; margin: 12px 19px;}
    .raiting_based p {font-size: 11px; line-height: 11px; color: #979797; font-weight: lighter;}

  .widget_body {display: block; position: relative; height: 406px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; overflow: auto;}

  .widget_footer {display: block; position: relative; overflow: hidden;}
    .wf_logo {display: block; position: relative; float: left; margin: 26px 0 27px 16px;}
    .wf_readall {display: block; position: relative; float: right; margin: 18px 26px 0 0;}
      .wf_readall button {height: 40px; width: 125px; background-color: #424242; color: #ffffff; font-size: 13px; line-height: 40px; border-radius: 5px; font-weight: bold; text-align: center; cursor: pointer;}

.widget_close {display: block; position: relative; float: right; width: 40px;}





