@charset "utf-8";

/* fonts import */
@import url();

/* reset by anton rogov */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #000;}

/* wrapper */
.wrapper {background: #fff;}






/* feefo-display-wrapper */
.feefo-display-wrapper {display: block; position: absolute; overflow: hidden; left: 0; top: 15%; font-family: 'Helvetica', sans-serif; width: 346px;}

/* feefo-modal-open-btn-wrapper */
.feefo-modal-open-btn-wrapper {display: block; position: relative; float: left; font-family: 'Helvetica', sans-serif;}
  .feefo-modal-open-hover {display: block; position: relative; float: left; height: 1px;}
  .feefo-modal-open-btn-wrapper a {text-decoration: none;}
  .feefo-modal-open-btn-wrapper a:hover .feefo-modal-open-hover {width: 10px;}


.feefo-modal-open-btn-wrapper .feefo-raiting-wrapper {display: block; position: relative; overflow: hidden; background-color: #ffde00;}
  .feefo-raiting {display: block; position: relative; float: right; width: 88px;}
  .feefo-raiting h5 {padding: 8px 16px 6px 17px; font-size: 26px; line-height: 34px; color: #3b3c3a;}

.feefo-raiting-desc-wrapper {display: block; position: relative; overflow: hidden; background-color: #3b3c3a;}
  .feefo-raiting-desc {display: block; position: relative; float: right; width: 88px;}
  .feefo-raiting-desc p {padding: 12px 6px 12px 7px; font-size: 11px; color: #ffffff; font-weight: lighter; text-align: center;}
  .feefo-line {display: block; position: relative; border-top: 1px solid #444444; margin: 0 12px 0 13px; width: 63px;}    
    .feefo-logo-wrapper {display: block; position: relative;}
    .feefo-logo-wrapper img {padding: 14px 16px 14px 17px;}

/* feefo-modal-dialog */
.feefo-modal-dialog {display: block; position: relative; overflow: hidden; width: 336px;}

/* feefo-modal-content */
.feefo-modal-content {display: block; position: relative; float: left; background-color: #ffffff; width: 284px; border: 1px solid #eaeaea;}
  .feefo-modal-header {display: block; position: relative;}
  .feefo-modal-header .feefo-raiting-wrapper {display: block; position: relative; overflow: hidden; margin-top: 19px;}
    .feefo-raiting-percent {display: block; position: relative; float: left; width: 87px; margin-left: 20px;}
    .feefo-raiting-percent h5 {padding: 16px 18px; font-size: 26px; line-height: 26px; color: #3b3c3a; background-color: #ffde00; border-radius: 5px;}
    .feefo-raiting-text {display: block; position: relative; float: right; width: 146px; margin-right: 20px;}
    .feefo-raiting-text p {font-size: 13px; line-height: 17px; color: #606060; font-weight: lighter; margin-top: 3px;}
    .feefo-raiting-text p strong {color: #37943e;}
    .feefo-raiting-based {display: block; position: relative; margin: 12px 19px;}
    .feefo-raiting-based p {font-size: 11px; line-height: 11px; color: #979797; font-weight: lighter;}

  .feefo-modal-body {display: block; position: relative; height: 406px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; overflow: auto;}
    .feefo-reviews {display: block; position: relative; padding: 24px 9px 10px 20px; background-color: #f5f5f5;}
      .feefo-review {margin-bottom: 15px;}
        .feefo-review-rating-desc {font-size: 13px; line-height: 13px; color: #b3b3b3;}
        .feefo-review-rating-excellent {background: url(../assets/excellent-icon.png) 0 0 no-repeat; padding-left: 35px;}
        .feefo-review-rating-bad {background: url(../assets/bad-icon.png) 0 0 no-repeat; padding-left: 35px;}
        .feefo-review-rating-good {background: url(../assets/good-icon.png) 0 0 no-repeat; padding-left: 19px;}
        .feefo-review-rating-poor {background: url(../assets/poor-icon.png) 0 0 no-repeat; padding-left: 19px;}
        .feefo-review-title {font-size: 13px; line-height: 13px; color: #606060; margin-top: 7px;}
        .feefo-review-content {font-size: 13px; line-height: 13px; color: #606060; margin-top: 7px;}
        .feefo-review-author {font-size: 13px; line-height: 13px; color: #606060; font-weight: bold; margin-top: 7px;}
        .feefo-review-date {font-weight: normal; font-size: 11px; color: #bbb8b9;}
        .feefo-review-line {border-top: 1px solid #eaeaea; margin-top: 15px;}

  .feefo-modal-footer {display: block; position: relative; overflow: hidden;}
    .feefo-modal-footer-logo {display: block; position: relative; float: left; margin: 26px 0 27px 16px;}
    .feefo-modal-footer-readall {display: block; position: relative; float: right; margin: 18px 26px 0 0;}
      .feefo-modal-footer-readall button {height: 40px; width: 125px; background-color: #424242; color: #ffffff; font-size: 13px; line-height: 40px; border-radius: 5px; font-weight: bold; text-align: center; cursor: pointer;}

/* feefo-modal-close-btn */
.feefo-modal-close-btn {display: block; position: relative; float: left; margin-top: 28px;}
  .feefo-modal-close-wrapper {display: block; position: relative; overflow: hidden;}
    .feefo-modal-close-hover {display: block; position: relative; float: left; background: #585a5b; height: 47px;}
    .feefo-modal-close {display: block; position: relative; float: right; width: 40px; height: 47px; background: #585a5b url(../assets/close-icon.png) 50% 50% no-repeat; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
  .feefo-modal-close-btn a:hover .feefo-modal-close-hover {width: 10px;}
  






